{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>Contact actuel</h1>

    <h3>Id = {{ contact.id}} </h3>
    <h3>Nom = {{ contact.name}}</h3>
    <h3>Prenom = {{ contact.firstname}}</h3>
    <h3>Age = {{ contact.age}}</h3>
    <h3> Newsletter = {{ contact.newsletter}}</h3>



<a href="{{ path('formulaire')}}" >Retour </a>

{% endblock %}
